/* Basic settings */

@font-face {
    font-family: ppreg;
    src: url(../fonts/Poppins-Regular.ttf) format("truetype");
}

html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
    font-family: ppreg;

}



/* Top header settings */

/*  left-half  */

.first {
    background-image: url(../images/header-bg.png);
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-top {
    background-color: ;

}

.left-half {
    width: 45%;
    float: left;

}

.left-half p {
    text-align: justify;
    color: rgba(0, 0, 0, 0.49)
}

.left-half {
    margin-top: 150px;
    margin-left: 65px;

}

.left-half h1 {
    text-align: left;
    margin-bottom: 0;
}


/*  right-half-image  */


.name {
    color: orangered;
    font-size: 55px
}



.container-top .right-half-image {
    width: 50%;
    float: right;
    height: 5px;

}

.container-top .right-half-image img {
    max-width: 100%;
    height: 500px;
    float: right;
    margin-right: 80px;
}

.signature img {
    height: 60px;
    float: right;
    margin: 20px 70px 30px 0px;

}





.container-top .button {
    margin: 40px 10px;
}

.container-top .btn {
    text-transform: uppercase;
    border: 2px solid rgb(255, 124, 93);
    border-radius: 8px
}

.container-top a {
    text-decoration: none;
    text-align: center;
    padding: 8px;
    color: rgb(255, 124, 93);


}



.container-top .btn:hover {
    background-color: rgb(255, 124, 93);
    transition: .5s;
}

.container-top a:hover {
    color: white;
}

.contact-icon .fab {
    font-size: 30px;

}

.contact-icon {
    margin-top: 60px;
}

.contact-icon ul {
    list-style: none
}

.contact-icon ul li {
    display: inline-block;
}

.contact-icon ul li a {
    transition: .5s;
}

.contact-icon ul {
    margin: 0;
    padding: 0;
}

.contact-icon a:hover {
    color: black;
    transition: .5s;

}

.bottom-arrow .fas {
    color: red;
    font-size: 30px;


}

.bottom-arrow {
    position: relative;
    top: 600px;
}

/*Biography section*/

.biography-container {
    background-image: url(../images/biography-bg.png);
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




.biography-container .left-half {
    width: 50%;
    float: left;
    height: 5px;
}

.biography-container .left-half img {
    max-width: 100%;
    height: 500px;
    float: left;
    margin-left: 120px;
}


/*Right half*/

.right-half {
    width: 45%;
    float: right;
    clear: both;
}

.right-half p {
    text-align: justify
}

.right-half {
    margin-top: 100px;
    margin-left: 65px;


}

.right-half h1 {
    text-align: left;
    margin-bottom: 0;
    text-transform: capitalize;
}

.right-half .cv a {
    text-decoration: none;
    text-transform: capitalize;
}

.biography-container .right-half p {
    width: 500px;
    color: rgba(0, 0, 0, 0.49)
}

.biography-container .right-half a {
    color: rgb(255, 163, 29);
    border: 2px solid rgb(255, 163, 29);
    padding: 8px;
    transition: .5s;

}

.biography-container .right-half a:hover {
    color: white;
    background-color: rgb(255, 163, 29);
    transition: .5s;

}

.biography-container .right-half .cv {
    top: 10px;
    position: relative;
}


/* Project container */

.inner-project-container {}

.inner-project-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;

}

.inner-project-container .work {
    width: 70%;
    height: 90%;
    padding-left: 120px;



}

.inner-project-container .work img {
    max-width: 100%;
    box-shadow: 0px 0px 32px 0px rgba(57, 48, 48, 0.57);
    transition: .5s;


}


.inner-project-container .work img:hover {
    box-shadow: 0px 0px 32px 0px #1d1c1c;
    transition: .25s;
    cursor: pointer;

}

.project-container {
    height: 675px;
    background-image: url(../images/latest-work-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}



.project-container h1 {
    text-align: center;
    padding-top: 140px;
    padding-bottom: 50px;
}

/* ------------------------------------------------------------------------------*/
.contant-me {
    background-image: url(../images/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.client h1,
h3,
h5,
p {
    text-align: center;
    margin: 0;
    text-transform: capitalize;
}

.client h1 {
    margin-bottom: 40px;
    font-size: 50px;

}

.client h3 {
    margin-bottom: 3px;
    font-size: 25px;
}


.client h5 {
    margin-bottom: 30px;

}



.client p {
    width: 400px;
    margin: auto;
    color: rgba(0, 0, 0, 0.62)
}


/*  custom it  */



.contant-me {
    height: 675px;
}

.contant-me .left-box {
    width: 45%;
    float: left;
}

.contant-me .right-box {
    width: 50%;
    float: right;
    padding: 200px 0px
}

.contant-me .left-box {
    padding: 175px 0px 175px 45px
}

.contant-me .left-box h1 {
    text-align: center;
}

.contant-me .left-box .mail {
    margin-top: 40px;
    text-align: center;
}

.contant-me .left-box .mail a {
    text-decoration: none;

    padding: 8px;
    border-radius: 8px;
}

.contant-me .left-box .mail a span {
    margin-right: 10px;
}

.contant-me .left-box .mail {
    font-size: 25px;
}

.contant-me .right-box .link {
    width: 350px;
    margin: auto;
    padding: 50px 0;
    font-size: 25px
}

.contant-me .right-box .link a {
    text-decoration: none;
    color: black;
}

.contant-me .right-box .link i {
    color: rgb(255, 124, 93)
}

.contant-me .right-box .link .fa-facebook-f {
    color: rgb(69, 112, 163);
}

.contant-me .right-box .link .fa-twitter {
    color: rgb(0, 187, 237);

}

.contant-me .right-box .link .fa-linkedin-in {
    color: rgb(0, 135, 173);

}

.contant-me .right-box .link .fa-instagram {
    color: rgb(215, 45, 107);
}

.contant-me .right-box .link .side {
    padding-right: 30px
}

.contant-me .right-box h3 {
    border-bottom: 3px solid black;
    width: 300px;
    margin: auto;
    padding-bottom: 25px;
    font-size: 25px
}

.contant-me .left-box .mail a {
    color: white;
    background-color: black;
    transition: .5s;
}

.contant-me .left-box .mail a:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: .5s;
}

.credit {
    text-align: center;
    width: 1000px;
    margin: auto;
    
}